*.log
.DS_Store
.env
.env.backup
.env.production
.env.testing
.env.*.local
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/storage/*.key
/storage/app/*
/storage/framework/*
/storage/logs/*
/public/storage
/storage/pail
/vendor
Homestead.json
Homestead.yaml
Thumbs.db
